<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HaroonAdvisors.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4B9687DDCBDB416CAA5B58229A3465688050D656</string>
				<key>dateExpires</key>
				<string>19/02/2026</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>2.2.5.25466</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4B9687DDCBDB416CAA5B58229A3465688050D656</string>
						<key>dateExpires</key>
						<string>19/02/2026</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CptShare.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q85MP6C4D8</string>
						<key>name</key>
						<string>Jamal Al Hosani</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>2.2.5.25466</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4B9687DDCBDB416CAA5B58229A3465688050D656</string>
						<key>dateExpires</key>
						<string>19/02/2026</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ZoomVideoSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q85MP6C4D8</string>
						<key>name</key>
						<string>Jamal Al Hosani</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4B9687DDCBDB416CAA5B58229A3465688050D656</string>
						<key>dateExpires</key>
						<string>19/02/2026</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q85MP6C4D8</string>
						<key>name</key>
						<string>Jamal Al Hosani</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4B9687DDCBDB416CAA5B58229A3465688050D656</string>
						<key>dateExpires</key>
						<string>19/02/2026</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>zm_annoter_dynamic.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q85MP6C4D8</string>
						<key>name</key>
						<string>Jamal Al Hosani</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>2.2.5.25466</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4B9687DDCBDB416CAA5B58229A3465688050D656</string>
						<key>dateExpires</key>
						<string>19/02/2026</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>zoomcml.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q85MP6C4D8</string>
						<key>name</key>
						<string>Jamal Al Hosani</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Q85MP6C4D8.com.haroonadvisors</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>Q85MP6C4D8</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>HaroonAdvisors.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>bdcb5cb0-937c-4a78-a2cd-a7a0e7bcf58e</string>
				<key>dateExpires</key>
				<string>27/02/2026</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.haroonadvisors</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Q85MP6C4D8</string>
				<key>name</key>
				<string>Jamal Al Hosani</string>
			</dict>
			<key>versionNumber</key>
			<string>5.6.6</string>
		</dict>
	</array>
</dict>
</plist>
